{% extends "static/pages/_common/base.htm" %}

{% block body %}
<div id='x-main' class="container-full mt-5 p-3" style="min-height:550px">
<div class="container-md">

	<div class="row">
	<div class="col-12 p-2">
	<link rel="stylesheet" href="static/css/dstyle.css">
		<h3 class="float-start ps-2">Sessions</h3>
	<div class="dropdown">
	  <button onclick="myFunction()"  class="dropbtn btn btn-primary float-end mx-4">Search Patient <i class="bi bi-search"></i></button>
	  <div id="myDropdown" class="dropdown-content" onmouseout="myFunction()">
		<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
		{% for item in patients %}
		<a href="#" data-nav='physio.session.list?"{{item.p_Id}}"'>{{item.name}}</a>
		{% endfor %}
	  </div>
	</div>
	</div>
	
	<div id="ses_det">
	
	</div>
	
	</div>
</div>	
</div>
{% endblock %}
