{% extends "static/pages/_common/base.htm" %}

{% block body %}
<div id='x-main' class="container-full mt-5 p-3">
<div class="container-md">

	<div class="row">
	<div class="col-12 p-2">
		<h3 class="float-start ps-2">Tracking Exercise 17a for Patient [Rahul Jeswani]</h3>
	</div>

	<div class="col-8 p-2" style="background-color:black;min-height:420px">
		
	</div>

	<div class="col-4" style="min-height:420px">
		<div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 fw-normal">Summary</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">3<small class="text-muted fw-light">/14 squats</small></h1>
            <button type="button" class="btn btn-lg btn-outline-primary pe-2" data-nav='' >Pause</button>
			<button type="button" class="btn btn-lg btn-outline-primary ps-2" data-nav='physio.session.new' >Complete</button>
          </div>
        </div>

		<div class="card rounded-3 shadow-sm" style="min-height:220px">
          <div class="card-header">
            <h4 class="my-0 fw-normal">Detailed</h4>
          </div>
          <div class="card-body">
			<textarea class="m-0 p-0 w-100" style="height:140px">
[12-Jan-2023 14:23:32] hip height : 337px
[12-Jan-2023 14:23:37] hip height : 334px
[12-Jan-2023 14:23:42] hip height : 331px
[12-Jan-2023 14:23:47] hip height : 326px
[12-Jan-2023 14:23:52] hip height : 301px
			</textarea>
          </div>
        </div>
		
	</div>


	</div>
			

</div>
</div>
{% endblock %}
